<!DOCTYPE html>
<html lang="en">

<head>
    <title>WoW eAH</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="additionalStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <%- include('common/navbar') -%>

    <!-- Main content pane -->
    <div class="container">

        <!-- Title card jumbotron -->
        <div class="page-header">
            <div class="jumbotron titlecard">
                <h1 class="jumbotrontitle">WoW eAH</h1>
                <p class="jumbotronsubtitle">Online World of Warcraft Auction House.</p>
            </div>
        </div>

        <!-- Link panels row -->
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default panellink">
                    <a href="/browse">
                        <div class="panel-heading">Browse Auctions</div>
                        <div class="panel-body">Browse and search auctions.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default panellink">
                    <a href="/manage">
                        <div class="panel-heading">Manage your auctions</div>
                        <div class="panel-body">Manage your auctions and monitor your competition.</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default panellink">
                    <a href="/analyse">
                        <div class="panel-heading">Analyse Auctions</div>
                        <div class="panel-body">Analyse the state of the market.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
	
	
</body>

</html>