<head>
    <script src="newfragscrpt.js"></script>
</head>
<link rel="stylesheet" href="mestyle.css">
    <body>
        <h1> Create Frags </h1>
        <h2>
            <a href="/">Index</a>
            <a href="/frags">Frags</a>
        </h2>
        <form>
            <label for="player">Player: </label><br>
            <input type="text" id="player">
            <br>
            <label for="identifier">Identifier: </label><br>
            <input type="text" id="identifier">
            <br> 
            <label for="weapon">Weapon: </label><br>
            <input type="text" id="weapon">
            <br> 
            <label for="against">Against: </label><br>
            <input type="text" id="against">
            <br> 
            <label for="score">Score: </label><br>
            <input type="text" id="score">
            <br>
            <label for="event">Event: </label><br>
            <input type="text" id="event">
            <br>
            <label for="map">Map: </label><br>
            <input type="text" id="map">
            <br>  
            <button type="submit" class="btnspan btn btn-primary" onclick="NewFrag()">Submit</button>
        </form>
        <p id="message">
    
        </p>
    </body>

